<?xml version="1.0" encoding="UTF-8"?>
<server>
	<param type="int" key="port">61618</param>
	<param type="boolean" key="gm">true</param>

	<!-- 平台 -->
	<!-- 使用开发服日志服务器 -->
	<param type="string" key="logurl">http://10.0.51.18/APPadmin/gateway/PhpServices/Log/insertGameLog.php</param>

	<param type="string" key="project">chat_websocket</param>
</server>